[submodule "3rdparty/Auto_Simulated_Universe"]
	path = 3rdparty/Auto_Simulated_Universe
	url = https://github.com/CHNZYX/Auto_Simulated_Universe
[submodule "3rdparty/Fhoe-Rail"]
	path = 3rdparty/Fhoe-Rail
	url = https://github.com/linruowuyin/Fhoe-Rail
