ruamel.yaml
pyyaml
colorama
packaging
pyuac
pygame
tqdm
psutil
pyautogui
pygetwindow
requests
imageio
Pillow
Numpy
opencv-python
onepush
winotify
markdown
cpufeature
PyQt-Fluent-Widgets==1.7.0
pylnk3
pyperclip
qrcode
pysocks
pypac
requests_toolbelt
desktopmagic
matrix-nio
python-socks[asyncio]
asyncio
nio
pandas
openpyxl