ruamel.yaml==0.18.6
pyyaml==6.0.2
colorama==0.4.6
packaging==24.2
pyuac==0.0.3
playsound3==3.2.6
tqdm==4.67.1
psutil==6.1.1
pyautogui==0.9.54
pygetwindow==0.0.9
requests==2.32.4
imageio==2.36.1
Pillow==11.0.0
Numpy==2.3.0
opencv-python==4.10.0.84
onepush==1.4.0
winotify==1.1.0
markdown==3.7
cpufeature==0.2.1
PyQt-Fluent-Widgets==1.7.0
pylnk3==0.4.2
pyperclip==1.9.0
qrcode==8.0
pysocks==1.7.1
pypac==0.16.5
requests_toolbelt
desktopmagic==14.3.11
matrix-nio==0.25.2
python-socks[asyncio]==2.6.1
asyncio==3.4.3
nio==3.4.2
pandas==2.2.3
openpyxl==3.1.5