SettingInterface, #scrollWidget {
    background-color: transparent;
}

QScrollArea {
    border: none;
    background-color: transparent;
}


/* 标签 */
QLabel#toolsLabel {
    font: 33px 'Microsoft YaHei';
    font-weight: 300;
    background-color: transparent;
    color: white;
}

