#view {
    background-color: transparent;
}

QScrollArea {
    border: none;
    background-color: transparent;
}

QLabel#contentLabel {
    font: 14px 'Microsoft YaHei';
    font-weight: 300;
}
                           
QLabel#changelogsLabel {
    font: 33px 'Microsoft YaHei';
    font-weight: 300;
    background-color: transparent;
}