SettingInterface,
#view {
    background-color: transparent;
}

QScrollArea {
    border: none;
    background-color: transparent;
}


BannerWidget > #galleryLabel {
    font: 42px 'Segoe UI', 'Microsoft YaHei';
    font-weight: 600;
    background-color: transparent;
    color: black;
    padding-left: 28px;
}


