name: Build & Release App

# 触发条件：手动触发或标签推送
on:
  workflow_dispatch:
  push:
    tags:
      - "v*.*.*"

jobs:
  build:
    name: Build
    runs-on: windows-latest
    env:
      PYTHONHASHSEED: 0
      SOURCE_DATE_EPOCH: 315532800

    steps:
      # 签出代码
      - name: Checkout code
        uses: actions/checkout@v3
        with:
          submodules: "false"

      # 设置Python环境
      - name: Set up python
        uses: actions/setup-python@v4
        with:
          python-version: "3.12.10"
          cache: "pip"

      # 安装依赖
      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install -r requirements.txt pyinstaller==6.14.1

      # 生成程序
      - name: Generate program
        run: |
          pyinstaller -D --distpath .\dist\ -i .\assets\logo\Terminal.ico --contents-directory libraries --exclude-module PyQt5 --uac-admin -n "March7th Assistant" main.py -y
          pyinstaller -D --distpath .\dist\ -i .\assets\logo\March7th.ico --contents-directory libraries --uac-admin -n "March7th Launcher" app.py -y
          pyinstaller -F --distpath .\dist\March7thAssistant\ -i .\assets\logo\Updater.ico -n "March7th Updater" --exclude-module numpy --exclude-module pandas --uac-admin updater.py -y

      # 移动资源到dist目录
      - name: Move assets to dist directory
        run: |
          Copy-Item -Path ".\dist\March7th Assistant\*" -Destination ".\dist\March7thAssistant\" -Recurse -Force
          Copy-Item -Path ".\dist\March7th Launcher\*" -Destination ".\dist\March7thAssistant\" -Recurse -Force
          Copy-Item -Path ".\assets\" -Destination ".\dist\March7thAssistant\assets\" -Recurse -Force
          Copy-Item -Path ".\README.md" -Destination ".\dist\March7thAssistant\" -Force

      # 创建更新压缩包
      - name: Create archive
        if: startsWith(github.ref, 'refs/tags/')
        run: |
          # Compress-Archive -Path .\dist\March7thAssistant\ -DestinationPath .\dist\March7thAssistant.zip -Force
          Rename-Item -Path .\dist\March7thAssistant -NewName update
          .\assets\binary\7za.exe a -t7z .\dist\update.7z .\dist\update\
          Rename-Item -Path .\dist\update -NewName March7thAssistant

      # 移动第三方库到dist目录
      - name: Move 3rdparty to dist directory
        if: startsWith(github.ref, 'refs/tags/')
        run: |
          python build.py "${{ github.ref_name }}" changelog_temp.md
          Copy-Item -Path .\3rdparty\ -Destination .\dist\March7thAssistant\3rdparty\ -Recurse -Force
          Rename-Item -Path .\dist\March7thAssistant -NewName March7thAssistant_full

      # 创建完整的压缩包
      - name: Create full zip archive
        if: startsWith(github.ref, 'refs/tags/')
        run: |
          # Compress-Archive -Path .\dist\March7thAssistant_full\ -DestinationPath .\dist\March7thAssistant_full.zip -Force
          .\assets\binary\7za.exe a -tzip .\dist\March7thAssistant_full.zip .\dist\March7thAssistant_full\
          .\assets\binary\7za.exe a -t7z .\dist\March7thAssistant_full.7z .\dist\March7thAssistant_full\

      # 创建GitHub发布
      - name: Create release
        if: startsWith(github.ref, 'refs/tags/')
        uses: softprops/action-gh-release@v2
        with:
          tag_name: ${{ github.ref_name }}
          name: March7thAssistant ${{ github.ref_name }}
          body_path: changelog_temp.md
          files: |
            ./dist/March7thAssistant_full.zip
            ./dist/March7thAssistant_full.7z
            ./dist/update.7z
          prerelease: false
          make_latest: true

      # 强制触发 MirrorChyan 上传
      - name: Trigger MirrorChyanUploading
        shell: bash
        run: |
          gh workflow run --repo $GITHUB_REPOSITORY 'MirrorChyan Uploading'
          gh workflow run --repo $GITHUB_REPOSITORY 'MirrorChyan Release Note'
        env:
          GH_TOKEN: ${{ secrets.GITHUB_TOKEN }}
